body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

/*  background-image: url('../n3.webp');*/
  /*<img src="../bet-bub.png">*/
  
 
  background-size: cover;
  background-repeat: no-repeat;
     /*overflow-y: hidden;*/
  overflow-x: hidden;
  height: 100vh;
}
.login{
    background-image: url('../n3.webp');
 
  background-size: cover;
  background-repeat: no-repeat;
     overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
}

.form{
  opacity: 0.8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
